@font-face {
  font-family: 'Maison Neue';
  src: url("./fonts/hinted-MaisonNeue-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: "Maison Neue";
	margin: 0;
	padding: 0;
	background: rgb(230, 0, 100);
	font-size: 3.8rem;
}

@media only screen and (max-width: 600px){
	body{
		font-size: 3rem;
	}
}

#canvas{
  position: absolute;
  background: rgb(230, 0, 100);
  filter: url("#liquid");
  width: 100vw;
  height: 100vh;
}

#splashTitle{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 9999;
	color: white;
	text-align: center;
}

#splashTitle p {
	max-width: 60vw;
}

@media only screen and (max-width: 600px){
	#splashTitle p {
		max-width: 70vw;
	}
}